@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

button {
  position: fixed;
  z-index: 10;
  top: 18em;
  right: 5em;
  font-weight: bold;
  color: lightskyblue;
  background-color: whitesmoke;
  border: 1px dashed lightblue;
  padding: 0.35em 0.75em 0.25em 0.75em;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  border: 1px solid lightblue;
}

button:disabled {
  color: lightgray;
  border: 1px dotted lightgrey;
}